streamlit
pandas
numpy
streamlit-option-menu
streamlit-authenticator
bcrypt
pyyaml
bcrypt
requests
urllib3
plotly
twilio
flask
folium
streamlit_folium
Pillow>=10.0.0
matplotlib
fpdf
pytest
joblib
scikit-learn
xgboost
streamlit-autorefresh
schedule
python-dotenv
seaborn
sendgrid
fpdf2 >= 2.7.0
weasyprint
jinja2
pdfkit
cffi
cssselect2
fonttools
pydyf
Pyphen
tinycss2
tinyhtml5

# python -m tests.test_api_handler pour executer des fonctions , modules depuis la racine .








